.head{
    height: 90px;
    background-color: #080a52;
    display: flex;
    justify-content: space-between;
}
.user{
    margin: auto 0;
}
.link{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    margin: auto 0;
    padding: 20px;
}
.link:hover{
    color: #eb2188;
}
.book-list{
    max-width: 70%;
    margin: 15px auto;
}
/*.order-profile{ 
    border: solid 1px red;
    
}*/
/*.order-title{
    text-align: left;
}*/
