body{
    background-color: #f5f5f5;
}
.form-signin {
    max-width: 500px;
    margin: 6% 40%;
}  
.form-floating{
    margin-top: 5px;
}
.btn{
    margin-top: 8px;
    width: 100px    
}
.image{
    width: 150px;
    height: 150px;
}
.error{
    font-size: 13px;
    margin-top: 3px;
}
.acction{
    justify-content: space-around
}
