body{
    background-color: #f5f5f5;
}
.form{
    margin: 3% 40%;
    max-width: 500px;
}
.btn{
    margin-top: 10px;
    width: 100px;
}
.form-floating{
    margin-top: 10px;
}
.error{
    font-size: 13px;
}
.acction{
    justify-content: space-around
}