.head{
    height: 90px;
    background-color: #080a52;
    display: flex;
    justify-content: space-between;
}
.user{
    margin: auto 0;
}
.link{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    margin: auto 0;
    padding: 20px;
}
.link:hover{
    color: #eb2188;
}
.form{
    max-width: 500px;
    margin: 30px auto; 
}

.row{
    margin-bottom: 25px;
}
.col-form-label{
    font-weight: 500;
}

.profile-input{
    border: none;
    width: 300px;
    text-align: left;
    border-bottom: 2px solid #080a52;
    padding-bottom: 1px;
}
.profile-input:hover{
    border-bottom-color:  #eb2188;
}
.btn{
    margin: auto;
}
.gender{
    margin-left: 12px;
}

.error{
    margin-top: 5px
}
